html, body{
    height: 100%;
    margin: 2em;
}

.container {
  width: 100%;
  height: 90%;
  margin: auto;
}

.one {
  padding: 1em;
  width: 50%;
  height: 100%;
  background: #ddd;
  float: left;
}

.two {
  padding: 1em;
  margin-left: 50%;
  height:  100%;
  background: #ddd;
}

.full-size-text{
    width: 100%;
    height: 100%;
    resize: none;
}