html,
body {
  height: 100%;
  margin: 2em;
}

.text-display {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  padding: 1em;
}

.container {
  width: 100%;
  height: 90%;
  margin: auto;
}

.one {
  width: 50%;
  height: 100%;
  background: #ddd;
  float: left;
}

.two {
  margin-left: 50%;
  height: 100%;
  background: #ddd;
}

.full-size-text {
  width: 100%;
  height: 100%;
  resize: none;
}
